annotated-types
anyio
beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
colorama
comtypes
contourpy
cycler
distro
dnspython
Flask
fonttools
groq
gTTS
h11
httpcore
httpx
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
nltk
numpy
packaging
pandas
pillow
praw
prawcore
pydantic
pydantic_core
pygame
pymongo
pyparsing
pypiwin32
python-dateutil
pyttsx3
pytz
pywin32
regex
requests
six
sniffio
soupsieve
textblob
tqdm
typing_extensions
tzdata
update-checker
urllib3
websocket-client
Werkzeug
