*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(page.jpg);
    
    background-attachment: fixed;
    background-size:cover;
}

span{
    width: 200px;
    height: 200px;
    display: block;
    margin: 100 auto;
    text-align: center;
    margin: 30px auto;
    position: relative;
    border-radius: 50%;
    line-height: 7;
    font-size: 30px;
    color: #7fc4ff;
    font-weight: bold;
 
}

span:first-letter{
    color: #fe6b80;
}

span:before{
    content: "";
    width: 200px;
    height: 200px;
    border: 4px solid #fe6b80;
    border-radius: 50%;
    position: absolute;
    left: 0;
    border-top-color: transparent;
    animation: rotateRight infinite linear 4s;
}

span:after{
    content: "";
    width: 150px;
    height: 150px;
    border: 4px solid #7fc4ff;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 25px;
    border-top-color: transparent;
    animation: rotateLeft infinite linear 4s;
}

@keyframes rotateRight{

        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(360deg);
        }
    }


@keyframes rotateLeft{

        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(-360deg);
        }
    }
.para{
    background-color: #f4f4f4b7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 15px;
}
.topic{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}
.topicdiv{
    background-color: aqua;

}
.button{
    margin-left: 700px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: #0a505b;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn{
    border: none;
    color: #fff;
}