<!doctype html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='IntroPage.css') }}">

</head>
<body>
    <!-- <div class="topicdiv">
        <h1 class="topic">WELCOME TO</h1>
        <h1 class="topic"> MEDIVIEW </h1>
    </div> -->
    <span style="margin-top: 120px;">MEDIVIEW</span>
    <div class="para">
        <h2>Our analysis empowers patients by providing clear, real-time insights into the experiences of others who have used the same medications. This information helps users make informed decisions about their treatment options, improving their overall healthcare experience.
        </h2>
    </div>
    <div class="para">
        <h2>Pharmaceutical companies, healthcare providers, and stakeholders can use our findings to monitor drug safety, enhance product offerings, and respond proactively to potential risks. By understanding patient sentiment and adverse events, businesses can drive improvements in drug development, marketing strategies, and customer relations, ultimately leading to better patient outcomes</h2>
        </div>
    <form action="/login" method="post">
        <button type="submit" class="button btn">GET STARTED</button>
    </form>
</body>